@using SteamDedicatedServerManager.Enums
@model ServerListViewModel

@{
    ViewBag.Title = "Steam Dedicated Server Manager - Server List";
    var servers = Model.ServerInstances;
}
<div class="container">
    <div class="h-server-list-menu">
        @* <button class="h-create-server-btn">Create V Rising Server</button> *@
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-server-modal">
            Create Server
        </button>
        <!-- Modal -->
        <div class="modal fade" id="create-server-modal" tabindex="-1" aria-labelledby="model-label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="model-label">Create Server</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <div class="modal-body flex-row">
                    <div class="h-create-server-form flex-column">
                        <div class="form-floating">
                            <select class="form-select" id="server-select" aria-label="Server Selection">
                                @{
                                    foreach (GameServer server in Enum.GetValues(typeof(GameServer)))
                                    {
                                        <option value="@((int)server)">@server.ToString("G")</option>
                                    }
                                }
                            </select>
                            <label for="server-select">Server Selection</label>
                        
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="server-name" placeholder="Server Name">
                            <label for="floatingInput">Server Name</label>
                        </div>
                    </div>
                    
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary h-create-server-btn">Create</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    @await Html.PartialAsync("_List", Model)
</div>



<script type="text/javascript">
    function createServer() {
        // let downloadConsole = $('.h-download-console');
        let source = new EventSource('/console-sse');
        source.onopen = function (){
            console.log('Download Console Connected');
        }
        source.onerror = function (event){
            source.close();
        }
        source.onmessage = function (event){
            if (event.data){
                //downloadConsole.append(event.data);
                console.log(event.data);
            }
        }
        SteamDedicatedServerManager.DownloadConsoleEventSource = source;
        
        let serverSelect = $('#server-select');
        let serverNameText = $('#server-name');
        let formData = new FormData(); 
        formData.append('gameServerInt', serverSelect.val());
        formData.append('serverName', serverNameText.val());
        
        fetch('@Url.Action("CreateServer")', {
            method: 'POST',
            body: formData,
        }).then((response) => {
            // Disconnect the source on finish
            if (SteamDedicatedServerManager.DownloadConsoleEventSource && SteamDedicatedServerManager.DownloadConsoleEventSource.close){
                SteamDedicatedServerManager.DownloadConsoleEventSource.close();
                console.log('Download Console Closed');
            }    
            console.log(response)
        })
    }
    
    $(document).ready(function() {
        // on start function
        let createServerBtn = $('.h-create-server-btn');
        createServerBtn.on('click', createServer);
     
    });
    
</script>