@model HomeViewModel
@{
    ViewData["Title"] = "Steam Dedicated Server Manager";
    var serverListViewModel = new ServerListViewModel()
    {
        ServerInstances = Model.ServerInstances
    };
}

<div class="text-center">
    <h1 class="display-4">Steam Dedicated Server Manager</h1>
    <p>Currently Running Servers</p>

    @await Html.PartialAsync(@"..\Server\_List", serverListViewModel)

</div>


<script type="text/javascript">   
    
   function serverDetails(e) {
        let target = $(e.target);
        let serverId = target.attr('data-id');
        let url = "@Url.Action("Details", "Server")";
        window.location = url + '?serverIdString=' + serverId;
    }
    
    $(document).ready(function() {
        
        let serverDetailsBtn = $('.h-server-details-btn');
        serverDetailsBtn.on('click', serverDetails);
        
    });
    
</script>