@{
    ViewData["Title"] = "V Rising Server Manager";
}

<div class="text-center">
    <h1 class="display-4">V Rising Server Manager</h1>
    <p>Cards that will link to Each page; Settings, Console</p>
    <button class="h-download-btn" type="button">Download V Rising Server</button>
    <button class="h-start-server-btn" type="button">Start V Rising Server</button>
    
    <textarea class="h-download-console" readonly>
        
    </textarea>
</div>


<script type="text/javascript">   
    VRisingServerManager = {
        
        
    }

    function downloadVRisingServer() {
        let downloadConsole = $('.h-download-console');
        let source = new EventSource('/console-sse');
        source.onopen = function (){
            console.log('Download Console Connected');
        }
        source.onerror = function (event){
            source.close();
        }
        source.onmessage = function (event){
            if (event.data){
                downloadConsole.append(event.data);
            }
        }
        VRisingServerManager.DownloadConsoleEventSource = source;
                
        fetch('@Url.Action("DownloadVRisingServer")', {
            method: 'POST'
        }).then((response) => {
            // Disconnect the source on finish
            if (VRisingServerManager.DownloadConsoleEventSource && VRisingServerManager.DownloadConsoleEventSource.close){
                VRisingServerManager.DownloadConsoleEventSource.close();
            }    
        })
    }
    
    function startServer() {
        let downloadConsole = $('.h-download-console');
        fetch('@Url.Action("StartVRisingServer")', {
                method: 'POST'
        }).then((response) => {
            // After server has started, we can reconnect the event server to the console
            let source = new EventSource('/console-sse');
            source.onopen = function (){
                console.log('Server Console Connected');
            }
            source.onerror = function (event){
                source.close();
            }
            source.onmessage = function (event){
                if (event.data){
                    downloadConsole.append(event.data);
                    let consoleElement = downloadConsole.get(0);
                    consoleElement.scrollTop = consoleElement.scrollHeight;
                }
            }  
        })
    }
    
    $(document).ready(function() {
        // on start function
        let downloadBtn = $('.h-download-btn');
        downloadBtn.on('click', downloadVRisingServer);
    
        let startServerBtn = $('.h-start-server-btn');
        startServerBtn.on('click', startServer);
        
    });
    
</script>