@{
    ViewData["Title"] = "V Rising Server Manager";
}

<div class="text-center">
    <h1 class="display-4">Steam Dedicated Server Manager</h1>
    <p>Currently Running Servers</p>
    @* <div> *@
    @* <button class="h-download-btn" type="button">Download V Rising Server</button> *@
    @*     <button class="h-start-server-btn" type="button">Start V Rising Server</button> *@
    @*      *@
    @*     <textarea class="h-download-console" readonly> *@
    @*          *@
    @*     </textarea> *@
    @*          *@
    @* </div> *@
    
    <div class="h-server-cards-container">
        <div class="h-server-card-wrapper">
            <span class="h-server-heading">Server Title - Breadland</span>
            <span class="h-server-detail">Game - V Rising</span>
            <span class="h-server-sub-detail">Status - Running</span>
            <button class="h-server-details-btn">Details</button>
        </div>
    </div>
</div>


<script type="text/javascript">   
    VRisingServerManager = {
        
        
    }

    function downloadVRisingServer() {
        let downloadConsole = $('.h-download-console');
        let source = new EventSource('/console-sse');
        source.onopen = function (){
            console.log('Download Console Connected');
        }
        source.onerror = function (event){
            source.close();
        }
        source.onmessage = function (event){
            if (event.data){
                downloadConsole.append(event.data);
            }
        }
        VRisingServerManager.DownloadConsoleEventSource = source;
                
        fetch('@Url.Action("DownloadVRisingServer")', {
            method: 'POST'
        }).then((response) => {
            // Disconnect the source on finish
            if (VRisingServerManager.DownloadConsoleEventSource && VRisingServerManager.DownloadConsoleEventSource.close){
                VRisingServerManager.DownloadConsoleEventSource.close();
            }    
        })
    }
    
    function startServer() {
        let downloadConsole = $('.h-download-console');
        fetch('@Url.Action("StartVRisingServer")', {
                method: 'POST'
        }).then((response) => {
            // After server has started, we can reconnect the event server to the console
            let source = new EventSource('/console-sse');
            source.onopen = function (){
                console.log('Server Console Connected');
            }
            source.onerror = function (event){
                source.close();
            }
            source.onmessage = function (event){
                if (event.data){
                    downloadConsole.append(event.data);
                    let consoleElement = downloadConsole.get(0);
                    consoleElement.scrollTop = consoleElement.scrollHeight;
                }
            }  
        })
    }
    
   function serverDetails() {
        window.location = "@Url.Action("Index", "Server", new { serverIdString = ""})";
    }
    
    $(document).ready(function() {
        // on start function
        let downloadBtn = $('.h-download-btn');
        downloadBtn.on('click', downloadVRisingServer);
    
        let startServerBtn = $('.h-start-server-btn');
        startServerBtn.on('click', startServer);
        
        let serverDetailsBtn = $('.h-server-details-btn');
        serverDetailsBtn.on('click', serverDetails);
        
    });
    
</script>